:root {
  --primary-blue: #1fa2f1;
  --primary-blue-light: #9bd1f9;
  --buttonHoverBg: #d4edff;
  --borderLightGrey: #e6ecf0;
  --spacing: 15px;
}

h1 {
  font-size: 19px;
  font-weight: 800;
  margin: 0px;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 30px;
  width: 55px;
  height: 55px;
  text-decoration: none;
  color: #212529;
}

nav a:hover {
  background-color: var(--buttonHoverBg);
  color: var(--primary-blue);
  border-radius: 50%;
}

nav a.blue {
  color: var(--primary-blue);
}

div .logo {
  width: 50px;
  height: 50px;
}

div .logo img {
  width: 100%;
}

.mainSectionContainers {
  padding: 0;
  border-left: 1px solid var(--borderLightGrey);
  border-right: 1px solid var(--borderLightGrey);
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--borderLightGrey);
  flex-shrink: 0;
}

.titleContainer h1 {
  flex: 1;
}

.postFormContainer {
  display: flex;
  padding: var(--spacing);
  border-bottom: 10px solid var(--borderLightGrey);
  flex-shrink: 0;
}

.userImageContainer {
  width: 50px;
  height: 50px;
}

.userImageContainer img {
  width: 100%;
  border-radius: 50%;
  background-color: white;
}

.textareaContainer {
  flex: 1;
  padding-left: var(--spacing);
}
.textareaContainer textarea {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: 19px;
}
#submitPostButton {
  background-color: var(--primary-blue);
  color: white;
  border: none;
  border-radius: 40px;
  padding: 7px 15px;
}

#submitPostButton:disabled {
  background-color: var(--primary-blue-light);
}
